<!-- wp:template-part {"slug":"ai-header","theme":"osi"} /-->

<!-- wp:group {"align":"full","layout":{"type":"constrained"}} -->
<div class="wp-block-group">
    <!-- wp:heading -->
    <h1>The Open Source AI Definition 1.0</h1>
    <!-- /wp:heading -->

    <!-- wp:paragraph -->
    <p>We have released the first stable version of the Definition.</p>
    <!-- /wp:paragraph -->

    <!-- wp:buttons -->
    <div class="wp-block-buttons">
        <div class="wp-block-button">
            <a class="wp-block-button__link" href="https://go.opensource.org/osaid-latest">Read version 1.0</a>
        </div>
    </div>
    <!-- /wp:buttons -->
</div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","layout":{"type":"default"}} -->
<div class="wp-block-group">
    <!-- wp:heading -->
    <h2>What's Open Source AI?</h2>
    <!-- /wp:heading -->

    <!-- wp:paragraph -->
    <p>
        Following the same idea behind Open Source Software, an Open Source AI is a system made available under terms that grant users the freedoms to:
    </p>
    <!-- /wp:paragraph -->

    <!-- wp:list -->
    <ul>
        <li>Use the system for any purpose</li>
        <li>Study how the system works</li>
        <li>Modify the system for any purpose</li>
        <li>Share the system with others</li>
    </ul>
    <!-- /wp:list -->
</div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","layout":{"type":"default"}} -->
<div class="wp-block-group">
    <!-- wp:heading -->
    <h2>Benefits of Open Source AI</h2>
    <!-- /wp:heading -->

    <!-- wp:paragraph -->
    <p>Open Source AI fosters transparency, competition, and diverse applications:</p>
    <!-- /wp:paragraph -->

    <!-- wp:list -->
    <ul>
        <li>Transparency & Safety</li>
        <li>Competition & Polyculture</li>
        <li>Diverse Applications</li>
    </ul>
    <!-- /wp:list -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"ai-footer","theme":"osi"} /-->