// Tables
$tableBackground: $Nwhite;
$tableCellPadding: 10px;
$tableStripe: $Nlightest;
$tableFontSize: .875em;
$tableLineHeight: 1.4em;
$tableBorderWidth: 1px;
$tableHeaderBorderWidth: 2px;
$tableBorderStyle: solid;
$tableBorderColor: $Ndark;
$tableHeaderBorderColor: $Ndarkest;
$tableHover: #{'rgba('+$brandColor1_RGB+', 0.1)'};
