img {
    border: 0;
    height: auto;
    -ms-interpolation-mode: bicubic;
    max-width: 100%;
    vertical-align: middle;
}

figure {
    margin-bottom: $gallery-gutter;
}

figcaption {
    display: block !important; // overrides gutenberg issue
    font-size: .875rem;
    font-style: italic;
    font-weight: normal;
    margin: .5em 0 0 0;
    padding: 0;
}
