.archive .sticky {
	background: $Nlightest;
    padding: 1em;
}

.alert {
	background-color: $Ndark;
	color: $Nwhite;
    font-size: 1.25em;
    margin-bottom: 1em;
    padding: 1em;
}

.error404 {

		.content--page .search-form {
			margin-bottom: 2em;
		}
}

.read-more {
  color: $Ndarkest;
  font-weight: 500;
  text-decoration: none;
	&:after {
		content: '→';
		display: inline-block;
		margin-left: .3em;
	}
  &:hover, &:focus {
    text-decoration: underline;
  }
}

.breadcrumb-area {
  margin-bottom: 24px !important;
}
.entry-breadcrumbs {
  font-size: var(--wp--preset--font-size--x-small);
  a {
    color: $Ndarkest;
    font-weight: bold;

    &:after {
      content: "/";
      display: inline-block;
      font-weight: 300;
      margin: 0 .25em;
    }
  }
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  background-color: $Nlightest;
  clip: auto !important;
  clip-path: none;
  color: $Nmid;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}
