.header-main {
    // position:fixed; // for header scroll
	position: sticky;
	top: 0;
    width: 100%;
    z-index:999;

	.button a {
		color: inherit;
	}
}
.header--inner {
    padding: 0;
    position: static;
    opacity: 1;
    transition: all .3s;
    z-index:999;

	@media only screen and ( max-width: 1200px ) {
		background: #fff;
	}
}

    .header--quicklinks {
        padding: .5em;
        background: $Ndarkest;
        position: relative;
        overflow: auto;
        transition: all .3s;
        z-index:1000;
    }

		.header--quicklinks-inner {
			position: relative;
		}

    .header--blog-name {
        box-sizing: border-box;
        height: 100%;
        // margin: .3em;
        // transition: all .3s;
		// width: 80%;

        a {
            color: $Ndarkest;
            display: inline-block;
            font-weight: bold;
            line-height: 1;
            text-decoration: none;
            height: 100%;
            transition: none;

            &:hover, &:focus {
                text-decoration: none;
            }
        }

        img { // all logos
            max-height: 5.4em;
            width: auto;
            margin: 0 10px 0 auto;
            transform: translateZ(0); // chrome blurry fix
         }

        .hide-mobile {
            display: none;
        }

        .header-logo-mobile {
            display: block;
        }
    }

    .header--extra-text {
        clear: both;
        padding: 0 1rem;
    }

    .header-main-small {

        .header--quicklinks {
            padding-top: 0;
            padding-bottom: 0;
            overflow: hidden;
            transition: all .3s;
        }

        .header--inner {
            // opacity: 0;
            overflow: hidden;
            transition: all .3s;
        }

        .header--blog-name {

        }

            .header--extra-text {
                display: none;
            }
    }



@media only screen and (min-width: #{$break-small}) {

}

@media only screen and (max-width: #{$break-nav}) {
	.header-main-small {
		pointer-events: none;

		.header--blog-name img {
			max-height: 67.19px;
		}
	}
}

@media only screen and (min-width: #{$break-nav}) {
    .header-main {
    }

        .header--inner, .header--quicklinks-inner {
            @include clearfix();
            padding-left: $maxPadding;
            padding-right: $maxPadding;
            padding-top: 1em;
        }

        .header--inner {
            border: 0;
            position: relative;
        }
            .header--blog-name {
                // float: left;
                // font-size: 1.2em;
                // margin: 0;
                // padding-left: 0;
                // text-align: left;
                // width: inherit;

                .header-logo {
                    display: inline-block;
                }

                .hide-mobile {
                    display: inline-block;
                }

                .header-logo-mobile {
                    display: none;
                }

                img {
                    margin-top: -16px;
                }
            }

            .header--extra-text {
                text-align: right;
                float: right;
                clear: right;
                padding: 0;
            }

        .header-main-small {
            background-color: $Nwhite;

            .header--inner {
                // height: 2.2em;
                // overflow: visible;
                // top: 0;
                // opacity: 1;
            }

            .header--blog-name {
                display: none;
                opacity: 0;
            }

            .nav-main {
                height: auto;
                top: 0;
                // transition: all .2s;
                margin-top: 0;

                .nav-main--menu > .menu-item > a {
                    padding-top: 0.6em;
                    padding-bottom: 0.5em;
                    transition: all .3s;
                }
            }
        }
}



@media only screen and (min-width: #{$break-wide}) {
    .header--inner, .header--quicklinks-inner {
        // @include center-block;
		display: flex;
		align-items: center;

    }

    .header-main-small {

        .header--blog-name {
            // display: inline-block;

            img {
                margin-top: -16px;
            }

        }

    }
}
